* {
	margin: 0;
	padding: 0;
}

a {
	text-decoration: none;
}

ul {
	list-style: none;
}

header {
	border-bottom: 1px solid #8f2b2b;
	background-color: rgb(251, 251, 252);
	margin: 10px;
	width: 2000px;
	height: 50px;
}

header > img {
	margin-left: 10px;
	height: 50px;
	margin-right: 1600px;
}

header > img, header > ul {
	display: inline-block;
	vertical-align: top;
}

header > ul > li {
	line-height: 50px;
	display: inline-block;
	vertical-align: top;
	margin-right: 10px;
}

header > ul > li > a {
	color: black;
	font-size: 36px;
	font-style: oblique;
	background-color: rgba(209, 209, 212, 0.776);
	background: -webkit-linear-gradient( GhostWhite, #c9fafd);
	background-color: rgba(209, 209, 212, 0.776);
}
body{
	background: -webkit-linear-gradient( GhostWhite, #e0eced);
	margin: 0px;
	padding:0px;
}

#max {
	width: 1500px;
}

#max #top {
	overflow: hidden;
}

#max #top div {
	display: inline-block;
}


#max #top #mid {
	margin-top: 50px;
	line-height: 100px;
	width: 850px;
	margin-left: 100px;
	font-size: 45px;
	font-family: 'Courier New', Courier, monospace;
	font-weight: bold;
	text-align: center;
}

#max #right {
	margin-top: 50px;
	float: right;
	line-height: 650px;
	width: 200px;
	height:650px;
	font-size: 20px;
	font-style: oblique;
	font-weight: bold;
	text-align: center;
	margin-right: 150px;
}

#max #middle {
	overflow: hidden;
}

#max #middle div {
	display: inline-block;
}

#max #middle #left1 img {
	border: 1px dashed #999;
	margin-left: 100px;
	width: 500px;
	height: 500px;
}

#max #middle #right1 {
	text-indent: 2em;
	border: 1px solid #999;
	margin-left: 20px;
	margin-top: 50px;
	width: 330px;
	height: 500px;
	font-size: 15px;
	font-weight: bold;
	text-align: left;
	line-height: 30px;
	overflow-y: scroll;
	padding-left:10px;
}

#max #right #right2{
	width:400px;
	height:650px;
}
